# Read README.md for more details about the configuration options

# The base URL of the application, used to create links
BASE_URL=http://localhost:3000

# JWT settings
JWT_SECRET_KEY=# THIS IS REQUIRED !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#JWT_SECRET_EXPIRE_MINUTES=60
#JWT_REFRESH_EXPIRE_MINUTES=10080

#SERVER_HOST=
#SERVER_PORT=3000

#LOG_LEVEL=info
#LOG_TARGET=console # console, file or both
#LOG_FILE_PATH=./data/smetana.log
#LOG_REQUESTS=false
#LOG_DB_QUERIES=false

# Some middlewares which can be enabled or disabled
#ENABLE_LIMITER=false # auth routes are always rate limited
#ENABLE_COMPRESS=false

# Storage Settings
# either local STORAGE_ROOT, or S3* must be used, if empty will default to local storage
#STORAGE_ROOT=./data/uploads
# for remote storage, you can use any S3 compatible storage, like Cloudflare R2, Backblaze B2, etc.
#S3_HOST=
#S3_REGION=us-east-1
#S3_BUCKET=
#S3_ACCESS_KEY=
#S3_SECRET_KEY=

# Database
# the backend supports sqlite, mysql and postgres, if DB_TYPE is not set, it will default to sqlite
#DB_TYPE=sqlite
#DB_HOST=localhost
#DB_PORT=3306
#DB_NAME=./data/borscht.db
#DB_USER=
#DB_PASSWORD=
#DB_SSLMODE=disable

# SMTP, required for restore password and invitation emails
#SMTP_HOST=
#SMTP_PORT=587
#SMTP_USER=
#SMTP_PASSWORD=
#SMTP_FROM=

# OIDC settings, if you want to use OIDC for authentication, wasn't well tested yet
#OIDC_PROVIDER=
#OIDC_CLIENT_ID=
#OIDC_CLIENT_SECRET=
#OIDC_REDIRECT_URL=
